<!DOCTYPE html>
<html>
<head>
    <title>Response Engine Dashboard</title>
</head>
<body>
    <h1>IP Action Logs</h1>
    <table border="1">
        <tr>
            <th>IP</th>
            <th>Last Event</th>
            <th>Attempt Count</th>
            <th>Last Attempt Time</th>
            <th>Block Time</th>
            <th>Unblock Time</th>
            <th>Block Count</th>
            <th>Status</th>
        </tr>
        {{range .Actions}}
        <tr>
            <td>{{.IP}}</td>
            <td>{{.LastEvent}}</td>
            <td>{{.AttemptCount}}</td>
            <td>{{.LastAttemptTime}}</td>
            <td>{{if .BlockTime.IsZero}}N/A{{else}}{{.BlockTime}}{{end}}</td>
            <td>{{if .UnblockTime.IsZero}}N/A{{else}}{{.UnblockTime}}{{end}}</td>
            <td>{{.BlockCount}}</td>
            <td>{{.Status}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>